<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
<div class="container">

    <div>
        <table>
            <thead>
            <tr>
                <th>사용자 코드</th>
                <th>이름</th>
                <th>이메일</th>
                <th>등록차량</th>
                <th>회원타입</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.car_number}"></td>
                    <td th:text="${member.role}"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <a href="/members/test">샘플 추가</a>
</div>

</th:block>
</html>