<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
  <style>

        .company-item {
            border : 1px solid;
        }
        .company-content {
            display: flex;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
        }
        .flex-column {
            display: flex;
            flex-direction: column;
        }
        .flex-column-r {
            display: flex;
            flex-direction: column-reverse;
        }
    </style>

</th:block>

<th:block layout:fragment="script">

  <script>
        $(document).ready(function(){
            $(".notice-del").on("click", function(){
                if( confirm("해당 공지글을 삭제하시겠습니까?")) {
                    $("#input-del").val($(this).attr("id"));
                    $("#form-delete").submit();
                }
            })
        })
    </script>

</th:block>

<th:block layout:fragment="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">공지 사항</h1>
      <!--            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
      <!--                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-8">
        <div class="card shadow">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">공지 목록</h6>
          </div>
          <div class="card-body">
            <div th:each="notice : ${notices}" class="p-2">
              <h4 th:text="${notice.title}"></h4>
              <div th:text="${notice.contents}"></div>
              <hr class="m-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>
