<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="card">
<!--        상단-->
        <div class="container_row">
            <div class="register_tank">
                hi
            </div>
            <div class="inquire_container">
                bye
            </div>
        </div>
<!--        하단-->
        <div class="container_row">
            <div class="graph">

            </div>
            <div class="tank">

            </div>
            <div class="register_manager">

            </div>

        </div>
    </div>
</th:block>
</html>