<html>
<head>
    <title>REST API | Smart Fill</title>
    <style>
        .container {
            width: 720px;
            padding: 75px;
        }
        .api-code {
            padding: 14px 20px;
            background-color: #01092b;
            background: #1e1e1e;
            color: #dcdcdc;
            display: block;
            font-size: 15px;
            width: 100%;
            font-family: "RobotoMono Regular" Consolas, monaco, monospace;
            line-height: 26px;
        }
        .code-keyword {
            color: #569cd6;
        }
        .code-string {
            color: #d69d85;
        }
        .code-attribute {
            color: #9cdcfe;
        }
        .indent {
            margin-left: 24px;
        }
        .api-title-lg {
            font-weight: bold;
            margin-top: 40px;
        }
        .api-title-lg {
            font-weight: bold;
            margin-top: 32px;
        }
        .api-title-sm {
            font-weight: bold;
            margin-top: 13px;
            margin-bottom: 14px;
        }
        .info-table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th {
            background-color: #f5f6f9;
            border: 1px solid #e2e4ee;
            padding: 14px 20px;
            font-size: 14px;
        }
        td {
            border: 1px solid #e2e4ee;
            padding: 14px 20px;
            font-size: 13px;
        }
        hr {
            margin-top: 100px;
            margin-top: 100px;
            border-color: #BBBBBB;
        }
    </style>
</head>
<body>
    <div class="container">
<!--        <div class="api-item">-->
<!--            <h2 class="api-title-lg">회원가입</h2>-->
<!--            <h3 class="api-title-md">> Request</h3>-->
<!--            <div class="indent">-->
<!--                <div class="api-title-sm">URL</div>-->
<!--                <code class="api-code">-->
<!--                    <span class="code-keyword">POST</span> <span class="code-string">/api/signup</span> <br/>-->
<!--                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>-->
<!--                </code>-->
<!--                <div class="api-title-sm">Parameter</div>-->
<!--                <table class="info-table">-->
<!--                    <thead>-->
<!--                        <tr>-->
<!--                            <th>Name</th>-->
<!--                            <th>Type</th>-->
<!--                            <th>Description</th>-->
<!--                            <th>Required</th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr>-->
<!--                            <td>username</td>-->
<!--                            <td>String</td>-->
<!--                            <td>앱 로그인시 사용할 기사번호</td>-->
<!--                            <td>O</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>password</td>-->
<!--                            <td>String</td>-->
<!--                            <td>앱 로그인시 사용할 비밀번호</td>-->
<!--                            <td>O</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>nickname</td>-->
<!--                            <td>String</td>-->
<!--                            <td>이름</td>-->
<!--                            <td>O</td>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <h3>> Response</h3>-->
<!--            <div class="indent">-->
<!--                <table class="info-table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Name</th>-->
<!--                        <th>Type</th>-->
<!--                        <th>Description</th>-->
<!--                        <th>Required</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <td>id</td>-->
<!--                        <td>String</td>-->
<!--                        <td>생성된 사용자의 고유 id</td>-->
<!--                        <td>O</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr/>-->


        <div class="api-item">
            <h2 class="api-title-lg">로그인 (JWT 토큰 발급)</h2>
            <h3 class="api-title-md">> Request</h3>
            <div class="indent">
                <div class="api-title-sm">URL</div>
                <code class="api-code">
                    <span class="code-keyword">POST</span> <span class="code-string">/api/authenticate</span> <br/>
                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>
                    <span class="code-attribute">Authorization</span>: Bearer {ACCESS_TOKEN} <br/>
                </code>
                <div class="api-title-sm">Parameter</div>
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>String</td>
                        <td>앱 로그인시 사용할 기사번호</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td>String</td>
                        <td>앱 로그인시 사용할 비밀번호</td>
                        <td>O</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>> Response</h3>
            <div class="indent">
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>token</td>
                        <td>String</td>
                        <td>서버와 교신시 필수로 필요한 JWT토큰</td>
                        <td>O</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>

        <div class="api-item">
            <h2 class="api-title-lg">사용자 정보 (로그인 필수)</h2>
            현재 로그인된 사용자의 정보를 불러온다.
            <h3 class="api-title-md">> Request</h3>
            <div class="indent">
                <div class="api-title-sm">URL</div>
                <code class="api-code">
                    <span class="code-keyword">GET</span> <span class="code-string">/api/users</span> <br/>
                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>
                    <span class="code-attribute">Authorization</span>: Bearer {ACCESS_TOKEN} <br/>
                </code>

                <h3>> Response</h3>
                <div class="indent">
                    <table class="info-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>id</td>
                                <td>String</td>
                                <td>DB 관리를 위한 기사 고유 id</td>
                                <td>O</td>
                            </tr>
                            <tr>
                                <td>username</td>
                                <td>String</td>
                                <td>앱 로그인시 사용할 기사번호</td>
                                <td>O</td>
                            </tr>
                            <tr>
                                <td>nickname</td>
                                <td>String</td>
                                <td>기사 이름</td>
                                <td>O</td>
                            </tr>
                            <tr>
                                <td>authorityDtoSet</td>
                                <td>Set</td>
                                <td>사용자가 가지고있는 권한 목록</td>
                                <td>O</td>
                            </tr>
                            <tr>
                                <td>authorityName</td>
                                <td>Set</td>
                                <td>사용자가 가지고있는 권한 이름</td>
                                <td>O</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>

        <div class="api-item">
            <h2 class="api-title-lg">검색 사용자 정보 (로그인 필수)(ROLE_ADMIN 보유)</h2>
            username(기사번호)로 사용자를 검색해 해당 사용자의 정보를 불러온다.
            [ROLE_ADMIN 권한을 가진 사용자만 접근 가능]
            <h3 class="api-title-md">> Request</h3>
            <div class="indent">
                <div class="api-title-sm">URL</div>
                <code class="api-code">
                    <span class="code-keyword">GET</span> <span class="code-string">/api/users/{username}</span> <br/>
                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>
                    <span class="code-attribute">Authorization</span>: Bearer {ACCESS_TOKEN} <br/>
                </code>
                <div class="api-title-sm">Parameter</div>
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>userId</td>
                        <td>Integer</td>
                        <td>검색할 사용자의 고유 id</td>
                        <td>O</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <h3>> Response</h3>
            <div class="indent">
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>DB 관리를 위한 기사 고유 id</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>username</td>
                        <td>String</td>
                        <td>앱 로그인시 사용할 기사번호</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>nickname</td>
                        <td>String</td>
                        <td>기사 이름</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>authorityDtoSet</td>
                        <td>Set</td>
                        <td>사용자가 가지고있는 권한 목록</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>authorityName</td>
                        <td>Set</td>
                        <td>사용자가 가지고있는 권한 이름</td>
                        <td>O</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>


        <div class="api-item">
            <h2 class="api-title-lg">번호판 인증 (로그인 필수)</h2>
            Number 번호판을 가진 차량이 DB에 등록되어있는지 확인하고 True 또는 False를 반환한다.
            <h3 class="api-title-md">> Request</h3>
            <div class="indent">
                <div class="api-title-sm">URL</div>
                <code class="api-code">
                    <span class="code-keyword">GET</span> <span class="code-string">/api/cars/numbers/{number}</span> <br/>
                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>
                    <span class="code-attribute">Authorization</span>: Bearer {ACCESS_TOKEN} <br/>
                </code>
                <div class="api-title-sm">Parameter</div>
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>number</td>
                        <td>String</td>
                        <td>등록 되어있는지 확인할 번호판</td>
                        <td>O</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <h3>> Response</h3>
            <div class="indent">
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{}</td>
                        <td>Boolean</td>
                        <td>True or False</td>
                        <td>O</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>



<!--        로그 추가-->
        <div class="api-item">
            <h2 class="api-title-lg">주입 로그 추가 (로그인 필수)</h2>
             현재 로그인된 사용자의 주입 로그를 추가한다.
            <h3 class="api-title-md">> Request</h3>
            <div class="indent">
                <div class="api-title-sm">URL</div>
                <code class="api-code">
                    <span class="code-keyword">POST</span> <span class="code-string">/api/fill-logs/users</span> <br/>
                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>
                    <span class="code-attribute">Authorization</span>: Bearer {ACCESS_TOKEN} <br/>
                </code>
                <div class="api-title-sm">Parameter</div>
                <table class="info-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>pumpId</td>
                            <td>String</td>
                            <td>사용한 주입기 기기의 고유 id(시리얼넘버)</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>amount</td>
                            <td>Double</td>
                            <td>요소수 등 제품(외 기타) 주입량</td>
                            <td>O</td>
                        </tr>

                        <tr>
                            <td>carNumber</td>
                            <td>String</td>
                            <td>요소수 등 제품을 주입한 차량의 차량번호(번호판)</td>
                            <td>O</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <h3>> Response</h3>
            <div class="indent">
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>datetime</td>
                            <td>Datetime</td>
                            <td>로그 생성 시점의 날짜, 시간(주입일시)</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>pumpId</td>
                            <td>Integer</td>
                            <td>사용한 주입기의 고유 id</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>amount</td>
                            <td>Double</td>
                            <td>주입한 액체의 주입량</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>carNumber</td>
                            <td>String</td>
                            <td>차량번호</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>username</td>
                            <td>String</td>
                            <td>주입기를 이용한 기사의 기사번호</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>branchName</td>
                            <td>String</td>
                            <td>이용한 주입기의 회사명</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>branchCeo</td>
                            <td>String</td>
                            <td>이용한 주입기 회사의 대표명</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>branchAddress</td>
                            <td>String</td>
                            <td>이용한 주입기 회사의 주소</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>branchTEL</td>
                            <td>String</td>
                            <td>이용한 주입기 회사의 연락처</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>approvalNumber</td>
                            <td>Integer</td>
                            <td>승인번호 (미구현)</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>pumpNumber</td>
                            <td>Integer</td>
                            <td>이용한 주입기 번호</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td>product</td>
                            <td>String</td>
                            <td>주입한 제품</td>
                            <td>O</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>


        <!--        로그 조회-->
        <div class="api-item">
            <h2 class="api-title-lg">주입 로그 조회 (로그인 필수)</h2>
            로그인 되어있는 사용자의 주입 로그를 전부 가져온다.
            <h3 class="api-title-md">> Request</h3>
            <div class="indent">
                <div class="api-title-sm">URL</div>
                <code class="api-code">
                    <span class="code-keyword">Get</span> <span class="code-string">/api/fill-logs/users</span> <br/>
                    <span class="code-attribute">Host</span>:  http://3.38.104.80:8080 <br/>
                    <span class="code-attribute">Authorization</span>: Bearer {ACCESS_TOKEN} <br/>
                </code>

            </div>
            <h3>> Response</h3>
            <div class="indent">
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>db관리용 주입 로그 고유 id</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>datetime</td>
                        <td>Datetime</td>
                        <td>로그 생성 시점의 날짜, 시간(주입일시)</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>pumpId</td>
                        <td>Integer</td>
                        <td>사용한 주입기의 고유 id</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>amount</td>
                        <td>Double</td>
                        <td>주입한 액체의 주입량</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>carNumber</td>
                        <td>String</td>
                        <td>차량번호</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>username</td>
                        <td>String</td>
                        <td>주입기를 이용한 기사의 기사번호</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>nickname</td>
                        <td>String</td>
                        <td>주입기를 이용한 기사의 이름</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>branchName</td>
                        <td>String</td>
                        <td>이용한 주입기의 회사명</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>branchCeo</td>
                        <td>String</td>
                        <td>이용한 주입기 회사의 대표명</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>branchAddress</td>
                        <td>String</td>
                        <td>이용한 주입기 회사의 주소</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>branchTEL</td>
                        <td>String</td>
                        <td>이용한 주입기 회사의 연락처</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>approvalNumber</td>
                        <td>Integer</td>
                        <td>승인번호 (미구현)</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>pumpNumber</td>
                        <td>Integer</td>
                        <td>이용한 주입기 번호</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td>product</td>
                        <td>String</td>
                        <td>주입한 제품</td>
                        <td>O</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>



    </div>
</body>
</html>