<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<th:block th:fragment="footerFragment">
  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span class="mr-2">스마트필 주식회사</span><span class="mr-2">대표 신상원</span><span class="mr-2">사업자번호:864-87-00161</span><span class="mr-2">주소:경기도 평택시 포승읍 서동대로 417(블루스테이션 요소수충전소)</span><br>
        <span class="mr-2">대표전화: 02)407-2314</span><span class="mr-2">팩스번호 02)6000-9451</span><span class="mr-2">홈페이지:http://www.soultec.co.kr/</span><br>
        <span class="mr-2">고객센터 운영시간: 09:00~18:00</span><span class="mr-2">공휴일: 주말(토, 일) 및 공휴일</span><br>
        <br>
        <span>Copyright &copy; SoulTec 2022</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->
</th:block>

</html>