<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Smart Fill <sup>KO</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>대시보드</span>
      </a>
    </li>

    <!-- Company -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      거래처
    </div>
    <!-- Nav Item - 직원 목록 -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/company}">
        <i class="fas fa-fw fa-user"></i>
        <span>거래처 목록</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/company/new}">
        <i class="fas fa-fw fa-user-plus"></i>
        <span>거래처 등록</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/notice}">
        <i class="fas fa-fw fa-notice"></i>
        <span>공지 사항</span></a>
    </li>

<!--    <th:block  sec:authorize="hasRole('ADMIN')">-->

<!--      &lt;!&ndash; Nav Item - 직원 추가 &ndash;&gt;-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/members/new}">-->
<!--          <i class="fas fa-fw fa-user-plus"></i>-->
<!--          <span>직원 추가</span></a>-->
<!--      </li>-->

<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider">-->

<!--      &lt;!&ndash; Heading &ndash;&gt;-->
<!--      <div class="sidebar-heading">-->
<!--        차량 관리-->
<!--      </div>-->

<!--    </th:block>-->
<!--    &lt;!&ndash; Nav Item - 차량 목록 &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" th:href="@{/cars}">-->
<!--        <i class="fas fa-fw fa-car"></i>-->
<!--        <span>차량 목록</span></a>-->
<!--    </li>-->
<!--    <th:block  sec:authorize="hasRole('ADMIN')">-->

<!--      &lt;!&ndash; Nav Item - 차량 추가 &ndash;&gt;-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/cars/new}">-->
<!--          <i class="fas fa-fw fa-car"></i>-->
<!--          <span>차량 추가</span>-->
<!--        </a>-->
<!--      </li>-->

<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider">-->

<!--      &lt;!&ndash; Heading &ndash;&gt;-->
<!--      <div class="sidebar-heading">-->
<!--        저장조 관리-->
<!--      </div>-->
<!--    </th:block>-->
<!--    &lt;!&ndash; Nav Item - 저장조 목록 &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" th:href="@{/reservoirs}">-->
<!--        <i class="fa-solid fa-tank-water"></i>-->
<!--        <span>저장조 목록</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <th:block  sec:authorize="hasRole('ADMIN')">-->

<!--      &lt;!&ndash; Nav Item - 저장조 등록 &ndash;&gt;-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/reservoirs/new}">-->
<!--          <i class="fa-solid fa-tank-water"></i>-->
<!--          <span>저장조 등록</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </th:block>-->
<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->

<!--    &lt;!&ndash; Heading &ndash;&gt;-->
<!--    <div class="sidebar-heading">-->
<!--      주입기 관리-->
<!--    </div>-->

<!--    &lt;!&ndash; Nav Item - 저장조 목록 &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" th:href="@{/pumps}">-->
<!--        <i class="fa-solid fa-tank-water"></i>-->
<!--        <span>주입기 목록</span>-->
<!--      </a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Nav Item - 저장조 등록 &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" th:href="@{/pumps/new}">-->
<!--        <i class="fa-solid fa-tank-water"></i>-->
<!--        <span>주입기 등록</span>-->
<!--      </a>-->
<!--    </li>-->

    <!-- Nav Item - Pages Collapse Menu -->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"-->
<!--         aria-expanded="true" aria-controls="collapseTwo">-->
<!--        <i class="fas fa-fw fa-cog"></i>-->
<!--        <span>Components</span>-->
<!--      </a>-->
<!--      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
<!--        <div class="bg-white py-2 collapse-inner rounded">-->
<!--          <h6 class="collapse-header">Custom Components:</h6>-->
<!--          <a class="collapse-item" href="buttons.html">Buttons</a>-->
<!--          <a class="collapse-item" href="cards.html">Cards</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->

<!--    &lt;!&ndash; Nav Item - Utilities Collapse Menu &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"-->
<!--         aria-expanded="true" aria-controls="collapseUtilities">-->
<!--        <i class="fas fa-fw fa-wrench"></i>-->
<!--        <span>Utilities</span>-->
<!--      </a>-->
<!--      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"-->
<!--           data-parent="#accordionSidebar">-->
<!--        <div class="bg-white py-2 collapse-inner rounded">-->
<!--          <h6 class="collapse-header">Custom Utilities:</h6>-->
<!--          <a class="collapse-item" href="utilities-color.html">Colors</a>-->
<!--          <a class="collapse-item" href="utilities-border.html">Borders</a>-->
<!--          <a class="collapse-item" href="utilities-animation.html">Animations</a>-->
<!--          <a class="collapse-item" href="utilities-other.html">Other</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <a th:href="@{/logout}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      로그아웃
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


  </ul>
  <!-- End of Sidebar -->
</th:block>
</html>