<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutCompany}">

<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="script">

</th:block>

<th:block layout:fragment="content">
    <div class="block mb-4">
        <form action="branch/new" method="post">
            <h5>지점 생성</h5>
            <input type="text" name="name" placeholder="지점 이름">
            <input type="submit">
        </form>
    </div>
    <div class="block">
        <form action="branchAdmin/new" method="post">
            <h5>지점 관리자 생성</h5>
            <select name="dependentId">
                <option th:each="branch : ${branches}" th:value="${branch.id}" th:text="${branch.name}"></option>
            </select><br/>
            <input type="text" name="username" placeholder="아이디"><br/>
            <input type="password" name="password" placeholder="비밀번호"><br/>
            <input type="password" name="passwordConfirm" placeholder="비밀번호 확인"><br/>
            <input type="submit">
        </form>
    </div>
</th:block>
</html>
