<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <style>
        .branch {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .branch-list {
            display: flex;
            flex-wrap : wrap;
            justify-content: space-around;

        }
        .branch-pic {
            width: 125px;
            min-height: 150px;
            border: 1px solid black;
            background-color: #ad2547;
        }
    </style>

</th:block>

<th:block layout:fragment="script">

</th:block>

<th:block layout:fragment="content">

    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="row">
            <!--            로그 조회 -->
            <div class=" col-xl-8">
                <div class="card shadow mb-4">
                    <th:block th:if="${branches} != null">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">지점 목록</h6>
                        </div>
                        <div class="card-body branch-list">
                            <a th:each="branch : ${branches}" th:href="@{/{id}(id=${branch.id})}">
                                <div class="branch mx-5">
                                    <div class="branch-pic">
                                        <img src="/img/smartf-logo.png" class="branch-pic" style="width: 100%;">
                                    </div>
                                    <h6 class="text-center" th:text="${branch.name}"></h6>
                                </div>
                            </a>
                        </div>
                    </th:block>
                    <th:block th:unless="${branches} != null">
                        등록된 지점이 없습니다. 지점을 등록해 주세요.
                    </th:block>
                </div>
            </div>
            <div class=" col-xl-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">지점 생성</h6>
                    </div>
                    <div class="card-body branch-list">
                        <div class="block mb-4">
                            <form action="branch/new" method="post">
                                <h5>지점 생성</h5>
                                <input type="text" name="name" placeholder="지점 이름">
                                <input type="submit">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">지점 관리자 등록</h6>
                    </div>
                    <div class="card-body branch-list">
                        <form action="branchAdmin/new" method="post">
                            <h5>지점 관리자 생성</h5>
                            <select name="dependentId">
                                <option th:each="branch : ${branches}" th:value="${branch.id}" th:text="${branch.name}"></option>
                            </select><br/>
                            <input type="text" name="username" placeholder="아이디"><br/>
                            <input type="password" name="password" placeholder="비밀번호"><br/>
                            <input type="password" name="passwordConfirm" placeholder="비밀번호 확인"><br/>
                            <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>
