<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<!-- 본 페이지 커스텀 css -->
<th:block layout:fragment="css">
</th:block>

<!-- 본 페이지 커스텀 script -->
<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">입고자 관리</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-8 col-xl-6 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">입고자 목록</h6>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</th:block>
</html>